.navBarContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: auto;
}

.searchContainer {
  position: relative;
  width: 80%;
}
.searchBox {
  width: calc(100% - 60px);
  padding: 10px 40px 10px 15px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  height: 30px;
  font-family: "Orbitron", sans-serif;
}

.searchIcon {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  color: gray;
  cursor: pointer;
}
.resetIcon {
  margin: auto;
  cursor: pointer;
}

@media (max-width: 850px) {
  .searchBox {
    padding: 8px 30px 8px 10px;
    height: 28px;
  }

  .searchIcon {
    right: 20px;
  }
}
