.tabContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

.tabs {
  display: flex;
  border-bottom: 2px solid #ccc;
}

.tab {
  padding: 10px 20px;
  cursor: pointer;
  font-size: 18px;
  border-right: 1px solid #ccc;
  transition: all 0.3s ease;
}

.tab:last-child {
  border-right: none;
}

.activeTab {
  font-weight: bold;
  color: #007bff;
  border-bottom: 3px solid #007bff;
}
