body {
  margin: auto;
  margin-top: 20px;
  padding: 8px 0px;
  background-color: #d3d3d3;
  color: black;
  max-width: 80%;
  text-align: center;
  align-items: center;
  font-family: "Orbitron", sans-serif;
}
@media (max-width: 390px) {
  body {
    max-width: 90%;
  }
}
